body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body,
.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Roboto Condensed", tahoma, verdana, arial, sans-serif;
}

#background_video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10000;
    opacity: 0.4;
}

.reveal section img {
    border: none;
    Background: none;
    box-shadow: none;
}

tr.past_event {
    color: #AAAAAA;
}

tr.next_event {
    color: #FFFF00;
}

tr.future_event {
    color: #EEEEEE;
}

tr td:last-child, tr th:last-child {
    text-align: right;
}